### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## 1. Write a Python program to count the number of even and odd numbers from a series of numbers.

In [1]:
eCount=0
oCount=0
for i in range(10):
  if i%2==0:
    eCount=eCount+1
  else:
    oCount=oCount+1

print("Number of even numbers :", eCount)
print("Number of odd numbers :", oCount)

Number of even numbers : 5
Number of odd numbers : 5

## 2. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [22]:
def isEvenDigits(n):
  if n<=0:
    return False
  while n>0:
    d=n%10
    if d%2!=0:
      return False
    n=int(n/10)
  return True

for i in range(100,401):
  if isEvenDigits(i):
    print(i, end=",")

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400,

## 3. Write a Python program to calculate a dog's age in dog's years. Go to the editor
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

Input a dog's age in human years: 20
The dog's age in dog's years is 93

In [27]:
dAge=int(input("Input a dog's age in human years: "))
res=0
#calcualte for first 2 years
if dAge<=2:
  res=dAge*10.5

#calcualte for remaining years
elif dAge>2:
  res=2*10.5
  res=res+(dAge-2)*4

print("The dog's age in dog's years is ", res)

Input a dog's age in human years: 20
The dog's age in dog's years is  93.0

## 4. Write a Python function to find the Max of three numbers.

The Three numbers are: (3, 6, -5)
6

In [29]:
def findMax2(a,b):
  if a>b:
    return a
  else:
    return b

def findMax3(a,b,c):
  return findMax2(a, findMax2(b,c))

a,b,c=(3, 6, -5)
print(findMax3(a,b,c))

6

## 5. Write a Python function that takes a number as a parameter and check the number is prime or not.

The number is: 9
False

In [32]:
def isPrime(n):
  if n<2:
    return False
  for i in range(1,n+1):
    if n%i != 0:
      return False
  return True

n=int(input("The number is: "))
print(isPrime(n))

The number is: 4
False

## 6. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. Go to the editor

Original String :  Inceptz is One of The BeSt Places TO LEarn DataSciEnce
No. of Upper case characters :  13
No. of Lower case Characters :  32

In [36]:
def countUpperAndLower(s):
  lCount=0
  uCount=0
  for i in s:
    if i>='A' and i<='Z':
      uCount=uCount+1
    if i>='a' and i<='z':
      lCount=lCount+1
 # print(lCount, uCount)
  print("Original String : ", s)
  print("No. of Upper case characters : ", uCount)
  print("No. of Lower case characters : ", lCount)

countUpperAndLower("Inceptz is One of The BeSt Places TO LEarn DataSciEnce")

Original String :  Inceptz is One of The BeSt Places TO LEarn DataSciEnce
No. of Upper case characters :  13
No. of Lower case characters :  32

## 7. Write a Python program to reverse a string.

The original string is: 1234abcd
The reversed string: dcba4321

In [37]:
def revString(s):
  return s[::-1]

s="1234abcd"
r=revString(s)

print("The original string is: ", s)
print("The reversed string: ", r)

The original string is:  1234abcd
The reversed string:  dcba4321

## 8. Write a Python program to find  the greatest common divisor (gcd) of two integers.

The two numbers are: (12, 14)
The GCD of the numbers are: 2

In [40]:

def findGcd(a,b):
  gcd=1
  sNum=a
  if b<a:
    sNum=b
  for i in range(1, sNum+1):
    if a%i==0 and b%i==0:
      gcd=i
  return gcd

a,b=12,15
gcd=findGcd(a,b)
print("The two numbers are:", a, b)
print("The GCD of the numbers are:", gcd)

The two numbers are: 12 15
The GCD of the numbers are: 3